.addClient{
    margin: 20px 20px 20px 20px;
}

button{
    margin-right: 15px;
}

.idCode{
    width: 25%;
}

.name{
    width: 30%;
}

.cpf{
    width: 30%;
}

.actions{
    width: 20%;
}

.form{
    display: flex;
    justify-content: space-between;
}

.p-col-fixed{
    display: inline-block;
}

.save, .delete{
    margin: 30px 10px;
}