<div class="table">
    
    <p></p>
    <p-button class="addClient" label="Novo" icon="pi pi-plus" iconPos="left" (onClick)="newClient()"></p-button>
    <p></p>
    <p-table [value]="clients" responsiveLayout="scroll" [rows]="10" [showCurrentPageReport]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="idCode">Código</th>
                <th class="name">Nome</th>
                <th class="cpf">CPF</th>
                <th class="actions">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row >
            <tr>
                <td class="idCode">{{pad(row.id)}}</td>
                <td class="name">{{row.name}}</td>
                <td class="cpf">{{row.cpf}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="showDialog(row)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(row.id, row.name)"></button>
                </td>
            </tr>
        </ng-template>

    </p-table>
    <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="paginate($event)" ></p-paginator>

</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<!-- janela de edição e inclusão de clientes -->

<p-dialog [header]="title" [(visible)]="display" [style]="{width: '800px', height: '800px'}">
    <div class="p-grid p-fluid">
       
        <div class="p-col-fixed" style="width:150px; margin: 10px 20px 20px 0">
            <span class="p-float-label p-input-icon-right">
                <p-inputMask inputId="id" mask="999.999?" [autoClear]="false" [readonly]="true" [(ngModel)]="id"></p-inputMask>
                <label for="id">Código</label>
            </span>
        </div>

        <div class="p-col-fixed" style="width:560px; margin: 10px 20px 20px 0">
            <span class="p-float-label">
                <input type="text" id="name" pInputText [(ngModel)]="name" [required]=true> 
                <label for="name">Nome</label>
            </span>
        </div>
        <div class="p-col-fixed" style="width:250px; margin: 10px 20px 20px 0">
            <span class="p-float-label">
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" [minDate]="minDate" [maxDate]="maxDate" inputId="navigators" [(ngModel)]="date" dateFormat="dd/mm/yy" [baseZIndex]=0></p-calendar>
                <label for="calendar">Nascimento</label>
            </span>
        </div>
        <div class="p-col-fixed" style="width:220px; margin: 10px 20px 20px 0">
            <span class="p-float-label p-input-icon-right">
                <p-inputMask inputId="cpf" mask="999.999.999-99" [unmask]="true" [(ngModel)]="cpf"  [required]="true"></p-inputMask>
                <label for="cpf">CPF</label>
            </span>
        </div>
        <div class="p-col-fixed" style="width:220px; margin: 10px 20px 20px 0">
            <span class="p-float-label p-input-icon-right">
                <p-inputMask inputId="rg" mask="9.999.999-9" [unmask]="true" [(ngModel)]="rg" [required]="true"></p-inputMask> 
                <label for="rg">RG</label>
            </span>
        </div>
        <div class="p-col-fixed" style="width:410px; margin: 10px 20px 20px 0">
            <span class="p-float-label">
                <input type="text" id="address" pInputText [(ngModel)]="address" [required]="true"> 
                <label for="address">Endereço</label>
            </span>
        </div>
        <div class="p-col-fixed" style="width:300px; margin: 10px 20px 20px 0">
            <span class="p-float-label">
                <input type="text" id="complement" pInputText [(ngModel)]="complement"> 
                <label for="complement">Complemento</label>
            </span>
        </div>
        <div class="p-col-fixed" style="width:200px; margin: 10px 20px 20px 0">
            <span class="p-float-label">
                <input type="text" id="district" pInputText [(ngModel)]="district"  [required]="true"> 
                <label for="district">Bairro</label>
            </span>
        </div>
        <div class="p-col-fixed" style="width:200px; margin: 10px 20px 20px 0">
            <span class="p-float-label">
                <p-inputMask inputId="cep" mask="99999-999" [unmask]="true" [(ngModel)]="cep"></p-inputMask> 
                <label for="cep">CEP</label>
            </span>
        </div>
        <div class="p-col-fixed" style="width:200px; margin: 10px 20px 20px 0">
            <span class="p-float-label">
                <input type="text" id="city" pInputText [(ngModel)]="city" [required]="true"> 
                <label for="city">Cidade</label>
            </span>
        </div>
        <div class="p-col-fixed" style="width:70px; margin: 10px 20px 20px 0">
            <span class="p-float-label">
                <p-inputMask inputId="uf" mask="aa" [(ngModel)]="uf" [required]="true"></p-inputMask>
                <label for="uf">UF</label>
            </span>
        </div>
        <div class="p-col-fixed" style="width:200px; margin: 10px 20px 20px 0">
            <span class="p-float-label">
                <p-inputMask inputId="phone" mask="(99)9999-9999" [unmask]="true" [(ngModel)]="phone"></p-inputMask>
                <label for="phone">Telefone</label>
            </span>
        </div>
        <div class="p-col-fixed" style="width:200px; margin: 10px 20px 20px 0">
            <span class="p-float-label">
                <p-inputMask inputId="cellphone" mask="(99)99999-9999" [unmask]="true" [(ngModel)]="cellphone" [required]="true"></p-inputMask>
                <label for="cellphone">Celular</label>
            </span>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <span class="p-label">
                <label for="observation">Observação</label>
                <textarea inputId="observation" rows="4" style="resize: none;" cols="101" [(ngModel)]="observation" pInputTextarea></textarea>
            </span>
        </div>
    </div>
    <span class="p-buttonset">
        <button pButton type="button" label="Salvar" icon="pi pi-check" class="p-button-success save" (click)="setAction()"></button>
    </span>
</p-dialog>
