span{
  margin: 0 auto 30px auto;
}

.message{
  width: 200px;
}

div{
  background-color: rgb(54, 54, 54);
  padding: 80px;
  width: 680px;
  height: 380px;
  margin: 0 auto 0 auto;
  border-radius: 15px;
  box-shadow: 4px 4px 10px;
  display: flex;
  position: absolute;
  top: 21%;
  right: 22%;
  border: 3px solid #73AD21;
}

.p-button-danger{
  margin-left: 50px;
}

.p-button-primary{
  width: 90px;
}

picture{
  margin: 40px auto 0 auto;
}

img{
  width: 140px;
}